<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Files</title>
</head>
<body>
    <h1>Contents of the Directory: {{ current_path }}</h1>
    <ul>
        {% for item in contents %}
            <li>
                {% if item.type == 'directory' %}
                    <a href="{{ url_for('browse', path=current_path + '/' + item.name) }}">{{ item.name }}</a>
                {% elif item.type == 'json' %}
                    <a href="{{ url_for('view_json_file', path=current_path, filename=item.name) }}">{{ item.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
